{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "function-paren-newline": ["off"],
        "indent": ["error", 4],
        "max-len": ["warn", 79],
        "react/jsx-curly-spacing": ["error", {"when": "always"}],
        "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4, 'first'],
        "react/jsx-one-expression-per-line": ["off"],
        "semi": ["error", "never"]
    }
}
