[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "~=21.2"
flask = "~=2.3"
flask-talisman = "~=1.0.0"
python-decouple = "~=3.8"
tinydb = "~=4.8"


[dev-packages]



[requires]

python_version = "3.11"
