/*
sans-serif - Work+Sans:400,600
monospace - Anonymous+Pro:400

dark    -   #131C27, rgb(19, 28, 39)
light   -   #E9EEEF, rgb(233, 238, 239)

icon only       -   27% 12% / 7% 32%
icon and label  -   37% 22% / 17% 42%
main content    -   7% 12% / 2% 5%

max 5/8     -   28px, x-large,  32px, xx-large, 36px, xx-large, 40px
portrait    -   24px, large,    28px, x-large,  32px, xx-large, 36px
default     -   20px, medium,   24px, large,    28px, x-large,  32px
max 900px   -   16px, small,    20px, medium,   24px, large,    28px
max 700px   -   12px, x-small,  16px, small,    20px, medium,   24px
max 500px   -   8px,  xx-small, 12px, x-small,  16px, small,    20px
*/

.app {
    font-family: "Work Sans", sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #131C27;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
}

.header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 16px 0;
}

.header .left-header {
    position: absolute;
    left: 0;
    margin-left: 16px;
    display: inline-block;
}

.header .right-header {
    position: absolute;
    right: 0;
    margin-right: 16px;
    display: inline-block;
}

.header .icon-container {
    display: inline-block;
    margin: 0 12px;
}

.header .icon {
    height: 28px;
    width: 28px;
    vertical-align: middle;
    border: 1px transparent solid;
    border-radius: 27% 12% / 7% 32%;
    background-clip: padding-box;
    padding: 2px;
}

.header .nav-link.active .icon {
    border: 1px #131C27 solid;
}

.welcome, .pagenotfound {
    margin-right: 70%;
    margin-left: 24px;
    position: absolute;
    top: 16%;
    height: 24%;
    right: 0;
    left: 0;
    border: 2px #131C27 ridge;
    border-radius: 7% 12% / 2% 5%;
    background-clip: padding-box;
    text-align: left;
    font-size: large;
}

.welcome .intro, .pagenotfound .intro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 12px;
    max-height: 80%;
    overflow-y: auto;
    overflow-wrap: break-word;
    line-height: 1.5;
    font-weight: 600;
}

.welcome .button-workbook, .pagenotfound .button-home {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 12px;
    max-height: 20%;
    overflow-y: auto;
    border: 1px #131C27 solid;
    border-radius: 37% 22% / 17% 42%;
    background-clip: padding-box;
    padding: 4px;
}

.welcome .icon-workbook, .pagenotfound .icon-home {
    height: 24px;
    width: 24px;
    margin: 2px 4px 2px 2px;
    vertical-align: middle;
}

.welcome .text-workbook, .pagenotfound .text-home {
    vertical-align: middle;
}

.workbook {
    margin: 0 24px;
    position: absolute;
    top: 8%;
    bottom: 8%;
    height: 84%;
    right: 0;
    left: 0;
    border: 2px #131C27 ridge;
    border-radius: 7% 12% / 2% 5%;
    background-clip: padding-box;
}

.workbook .table-workbook {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.workbook .table-cell-workbook {
    border: 2px #E9EEEF ridge;
    border-radius: 7% 12% / 2% 5%;
    background-clip: padding-box;
    background: rgba(233, 238, 239, 0.7);
}

.workbook .button-worksheet-container {
    display: inline-table;
    height: 100%;
    width: 100%;
}

.workbook .button-worksheet-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.workbook .button-worksheet {
    display: table-cell;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: underline;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
}

.workbook .button-worksheet-inner {
    border: 1px transparent solid;
    border-radius: 37% 22% / 17% 42%;
    background-clip: padding-box;
    padding: 20px;
}

.workbook .icon {
    height: 32px;
    width: 32px;
    margin: 2px 4px 2px 2px;
    padding: 2px;
    vertical-align: middle;
}

.workbook .text-worksheet {
    vertical-align: middle;
    font-size: x-large;
}

.worksheet-container {
    background: rgba(233, 238, 239, 0.7);
    overflow: hidden;
}

.worksheet-header {
    height: 6%;
    background: rgba(233, 238, 239, 0.9);
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.worksheet-header .section-button {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.worksheet-header .section-button .local-nav-link {
    border: 1px transparent solid;
    border-radius: 37% 22% / 17% 42%;
    background-clip: padding-box;
    padding: 2px;
    text-align: center;
    flex: 0 0 auto;
}

.worksheet-header .section-button .local-nav-link.active {
    border: 1px #131C27 solid;
}

.worksheet-header .icon {
    height: 22px;
    width: 20px;
    margin: 2px 4px 2px 2px;
    vertical-align: middle;
}

.worksheet-section {
    height: 94%;
}

.worksheet-section.info-container {
    font-size: large;
}

.worksheet-section.info-container .worksheet-info {
    padding: 48px;
    max-height: calc(100% - 96px);
    overflow-y: auto;
}

.worksheet-section.info-container .worksheet-info-inner {
    background: rgba(233, 238, 239, 0.8);
    background-clip: padding-box;
    border-radius: 7% 12% / 2% 5%;
    overflow-wrap: break-word;
    line-height: 1.5;
    border: 8px #E9EEEF solid;
}

.worksheet-section.info-container .worksheet-info p {
    margin: 48px 24px;
}

.worksheet-section.gist-container iframe#worksheet-gist {
    width: calc(100% - 96px);
    height: calc(100% - 96px);
    border: none;
    padding: 48px;
}

.concentration {
    height: 100%;
}

.concentration-inner {
    height: calc(100% - 48px);
    padding: 24px;
}

.concentration .matches-wrapper {
    height: 20%;
    width: 100%;
}

.concentration .matches {
    height: 100%;
    width: 100%;
    border-bottom: 1px #131C27 solid;
}

.concentration .matches-header {
    height: 30%;
    font-size: large;
}

.concentration .matches-header .left-text,
.concentration .matches-header .right-text {
    padding: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.concentration .matches-header .left-text {
    text-align: left;
}

.concentration .matches-header .right-text {
    float: right;
    margin-right: 4%;
    text-align: right;
}

.concentration .matches-header .time-portion,
.concentration .matches-header .matches-portion {
    flex: 0 0 auto;
}

.concentration .matches-header .number {
    font-family: "Anonymous Pro", monospace;
}

.concentration .matches-pictures {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.concentration .matches-pictures a {
    width: calc((100% - 384px) / 12);
    min-height: 76%;
    max-height: 84%;
    margin-right: 32px;
    flex: 0 0 auto;
    display: flex;
}

.concentration .matches-pictures img {
    width: 100%;
    border: 1px #E9EEEF solid;
    border-radius: 7%;
    flex: 0 0 auto;
}

.concentration .board-wrapper {
    height: 80%;
    width: 100%;
}

.concentration .board {
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.concentration .board .board-row-wrapper {
    height: calc((100% - 96px) / 4);
    width: 100%;
    margin: 12px 0;
    flex: 0 0 auto;
}

.concentration .board .board-row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.concentration .board img {
    border: 1px transparent solid;
    border-radius: 7%;
    height: 100%;
    max-width: calc((100% - 144px) / 6);
    margin: 0 12px;
    flex: 0 0 auto;
}

.concentration .board img.picture-front {
    border: 1px #E9EEEF solid;
    box-shadow: 0px 0px 4px 4px rgba(233, 238, 239, 0.5);
}

.concentration .board img.picture-back:hover {
    border: 1px #131C27 solid;
    box-shadow: 0px 0px 8px 8px rgba(19, 28, 39, 0.5);
    cursor: pointer;
}

.concentration .board img.picture-matched {
    opacity: 0;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer .copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 12px;
    color: #E9EEEF;
    background: radial-gradient(rgba(19, 28, 39, 0.9), transparent);
}

.welcome .button-workbook a,
.pagenotfound .button-home a,
.workbook .table-cell-workbook a,
.worksheet-header .section-button a {
    color: #131C27;
}

@media (hover: hover) {
    .header .icon:hover,
    .welcome .button-workbook:hover,
    .pagenotfound .button-home:hover,
    .workbook .table-cell-workbook:hover .button-worksheet-inner {
        border: 1px #131C27 solid;
        box-shadow: 0px 0px 2px 2px rgba(19, 28, 39, 0.5);
        background: radial-gradient(rgba(233, 238, 239, 0.9), transparent);
    }

    .workbook .table-cell-workbook:hover {
        border: 1px #E9EEEF solid;
        box-shadow: 0px 0px 4px 4px rgba(233, 238, 239, 0.9);
    }

    .worksheet-header .section-button .local-nav-link:hover,
    .concentration .matches-pictures img:hover {
        border: 1px #131C27 solid;
        box-shadow: 0px 0px 2px 2px rgba(19, 28, 39, 0.5);
    }
}

@media (orientation: portrait) {
    .app {
        font-size: large;
    }

    .header .icon {
        height: 32px;
        width: 32px;
    }

    .welcome, .pagenotfound {
        margin-right: 12%;
        margin-left: 12%;
        top: 24%;
        height: 18%;
    }

    .welcome, .pagenotfound, .concentration .matches-header {
        font-size: x-large;
    }

    .welcome .icon-workbook, .pagenotfound .icon-home {
        height: 28px;
        width: 28px;
    }

    .workbook .button-worksheet-inner {
        padding: 24px;
    }

    .workbook .icon {
        height: 36px;
        width: 36px;
    }

    .workbook .text-worksheet {
        font-size: xx-large;
    }

    .worksheet-header .icon {
        height: 24px;
        width: 24px;
    }

    .concentration .matches-wrapper {
        height: 15%;
    }

    .concentration .matches-pictures a {
        width: calc((100% - 96px) / 12);
        margin-right: 8px;
    }

    .concentration .board-wrapper {
        height: 85%;
    }

    .concentration .board .board-row-wrapper {
        height: calc((100% - 36px) / 6);
        margin: 3px 0;
    }

    .concentration .board img {
        max-width: calc((100% - 24px) / 4);
        margin: 0 3px;
    }

    .concentration .board img.picture-front {
        border: 1px #E9EEEF solid;
        box-shadow: 0px 0px 1px 1px rgba(233, 238, 239, 0.5);
    }

    .concentration .board img.picture-back:hover {
        box-shadow: 0px 0px 2px 2px rgba(19, 28, 39, 0.5);
    }
}

@media (max-aspect-ratio: 5/8) {
    .app {
        font-size: x-large;
    }

    .header .icon {
        height: 36px;
        width: 36px;
    }

    .welcome, .pagenotfound, .concentration .matches-header {
        font-size: xx-large;
    }

    .welcome .icon-workbook, .pagenotfound .icon-home {
        height: 32px;
        width: 32px;
    }

    .workbook .button-worksheet-inner {
        padding: 28px;
    }

    .workbook .icon {
        height: 40px;
        width: 40px;
    }

    .workbook .text-worksheet {
        font-size: xx-large;
    }

    .worksheet-header .icon {
        height: 28px;
        width: 28px;
    }
}

@media (max-height: 900px) {
    .app {
        font-size: small;
    }

    .header .icon {
        height: 24px;
        width: 24px;
    }

    .welcome,
    .pagenotfound,
    .concentration .matches-header,
    .worksheet-section.info-container {
        font-size: medium;
    }

    .welcome .icon-workbook, .pagenotfound .icon-home {
        height: 20px;
        width: 20px;
    }

    .workbook .button-worksheet-inner {
        padding: 16px;
    }

    .workbook .icon {
        height: 28px;
        width: 28px;
    }

    .workbook .text-worksheet {
        font-size: large;
    }

    .worksheet-header .icon {
        height: 16px;
        width: 16px;
    }

    .worksheet-section.info-container .worksheet-info {
        padding: 36px;
        max-height: calc(100% - 72px);
    }

    .worksheet-section.info-container .worksheet-info p {
        margin: 40px 20px;
    }

    .worksheet-section.gist-container iframe#worksheet-gist {
        width: calc(100% - 72px);
        height: calc(100% - 72px);
        padding: 36px;
    }

    .concentration .board .board-row-wrapper {
        height: calc((100% - 72px) / 4);
        margin: 9px 0;
    }
}

@media (max-height: 700px) {
    .app {
        font-size: x-small;
    }

    .header .icon {
        height: 20px;
        width: 20px;
    }

    .welcome,
    .pagenotfound,
    .concentration .matches-header,
    .worksheet-section.info-container {
        font-size: small;
    }

    .welcome .icon-workbook, .pagenotfound .icon-home {
        height: 16px;
        width: 16px;
    }

    .workbook {
        top: 10%;
        bottom: 10%;
        height: 80%;
    }

    .workbook .button-worksheet-inner {
        padding: 12px;
    }

    .workbook .icon {
        height: 24px;
        width: 24px;
    }

    .workbook .text-worksheet {
        font-size: medium;
    }

    .worksheet-header .icon {
        height: 12px;
        width: 12px;
    }

    .worksheet-section.info-container .worksheet-info{
        padding: 24px;
        max-height: calc(100% - 48px);
    }

    .worksheet-section.info-container .worksheet-info p {
        margin: 32px 16px;
    }

    .worksheet-section.gist-container iframe#worksheet-gist {
        width: calc(100% - 48px);
        height: calc(100% - 48px);
        padding: 24px;
    }

    .concentration .board .board-row-wrapper {
        height: calc((100% - 48px) / 4);
        margin: 6px 0;
    }
}

@media (max-height: 500px) {
    .app {
        font-size: xx-small;
    }

    .header .icon {
        height: 16px;
        width: 16px;
    }

    .welcome,
    .pagenotfound,
    .concentration .matches-header,
    .worksheet-section.info-container {
        font-size: x-small;
    }

    .welcome .icon-workbook, .pagenotfound .icon-home {
        height: 12px;
        width: 12px;
    }

    .workbook {
        top: 12%;
        bottom: 12%;
        height: 76%;
    }

    .workbook .button-worksheet-inner {
        padding: 8px;
    }

    .workbook .icon {
        height: 20px;
        width: 20px;
    }

    .workbook .text-worksheet {
        font-size: small;
    }

    .worksheet-header .icon {
        height: 8px;
        width: 8px;
    }

    .worksheet-section.info-container .worksheet-info {
        padding: 12px;
        max-height: calc(100% - 24px);
    }

    .worksheet-section.info-container .worksheet-info p {
        margin: 24px 12px;
    }

    .worksheet-section.gist-container iframe#worksheet-gist {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        padding: 12px;
    }

    .concentration .board .board-row-wrapper {
        height: calc((100% - 24px) / 4);
        margin: 3px 0;
    }
}
