.app {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    text-align: right;
    background: radial-gradient(circle at 90%, #E9EEEF 12px, transparent 20%);
}
