{% extends "base.html" %}

{% block title %}
    {% if config.get('TEMPLATE_TAG') %}
        {{ config.get('TEMPLATE_TAG') }} | home
    {% else %}
        home
    {% endif %}
{% endblock %}

{% block content %}
    <div id="app"></div>
    <script
        type="text/javascript"
        src="{{ url_for_webpack_asset('runtime-app.js') }}"
    >
    </script>
    <script
        type="text/javascript"
        src="{{ url_for_webpack_asset('vendors-app.js') }}"
    >
    </script>
    <script
        type="text/javascript"
        src="{{ url_for_webpack_asset('app.js') }}"
    >
    </script>
{% endblock %}
