<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Nicole Pranke">
    <meta
        name="description"
        content="Welcome! My name is Nicole; I'm a software engineer."
    >
    <title>
        {% if config.get('TEMPLATE_TAG') %}
            npranke | {{ config.get('TEMPLATE_TAG') }}
        {% else %}
            npranke
        {% endif %}
    </title>
    <base href="{{ config.get('BASE_URL') }}">
    <link
        rel="stylesheet"
        type="text/css"
        href="{{
            'https://fonts.googleapis.com/css?family='
                + 'Anonymous+Pro|'
                + 'Work+Sans:400,600'
        }}"
    >
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for_webpack_asset('app.css') }}"
    >
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id={{ config.get('GA') }}"
    >
    </script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', {{ config.get('GA') | tojson }});
    </script>
</head>

<body>
    <div id="app"></div>
    <script
        type="text/javascript"
        src="{{ url_for_webpack_asset('runtime-app.js') }}"
    >
    </script>
    <script
        type="text/javascript"
        src="{{ url_for_webpack_asset('vendors-app.js') }}"
    >
    </script>
    <script
        type="text/javascript"
        src="{{ url_for_webpack_asset('app.js') }}"
    >
    </script>
</body>

</html>
