<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {% if config.get('TEMPLATE_TAG') %}
            {{ config.get('TEMPLATE_TAG') }} | home | npranke
        {% else %}
            home | npranke
        {% endif %}
    </title>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Work+Sans:400,600"
    >
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='dist/app.bundle.css') }}"
    >
</head>

<body>
    <div id="app"></div>
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='dist/app.bundle.js') }}"
    >
    </script>
</body>

</html>
